body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    background:#333333 url("../Imágenes/Background 1.jpg"); 
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 406px;
    max-width: 406px;
    margin: 50px auto;
}

#recordatorio {
    padding: 0px 25px 25px;
    background: #111;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#recordatorio .header {
    margin-bottom: 20px;
}

#recordatorio .header h3 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#recordatorio .header p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

#recordatorio .sep {
    height: 1px;
    background: black;
    width: 406px;
    margin: 0px -25px;
}

#recordatorio .inputs {
    margin-top: 25px;
}

#recordatorio .inputs label {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #fff;
}

input:-moz-placeholder {
    color:    #fff;
}

#recordatorio .inputs input[type=IDE_REC], input[type=TIT_REC], input[type=SRV_REC], input[type=INI_REC], input[type=FPG_REC], input[type=ALR_REC], input[type=CLC_REC], input[type=DUR_REC] {
    background: #1f2124;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin: 10px 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    color:#ffffff;
}

#recordatorio .inputs input[type=IDE_REC]:focus, input[type=TIT_REC]:focus, input[type=SRV_REC]:focus, input[type=INI_REC]:focus, input[type=FPG_REC]:focus, input[type=ALR_REC]:focus, input[type=CLC_REC]:focus, input[type=DUR_REC]:focus {
    background: #1f2124;
    box-shadow: 0px 0px 0px 3px #fff, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}


#recordatorio .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#recordatorio .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#recordatorio .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#recordatorio .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #002EFF 0%,
        #8000FF);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#002EFF),
        to(#8000FF));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#recordatorio .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #FF0061 0%,
        #FFB600);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#FF0061),
        to(#FFB600));
}

